/* Classe de base pour les styles communs */
.tab-content {
    margin-top: 20px;
}

.alumni-list {
    list-style-type: none;
    padding: 0;
}

.alumni-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Ajustements de style pour différentes tailles d'écran */
@media (max-width: 576px) {
    .nav-tabs .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }

    .nav-tabs .nav-link {
        font-size: 0.875rem;
        padding: 0.5rem 0.75rem;
    }

    .alumni-list li {
        font-size: 0.875rem;
        padding: 8px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .nav-tabs .nav-link {
        font-size: 1rem;
        padding: 0.75rem 1rem;
    }

    .alumni-list li {
        font-size: 0.95rem;
        padding: 9px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-tabs .nav-link {
        font-size: 1.125rem;
        padding: 1rem 1.25rem;
    }

    .alumni-list li {
        font-size: 1rem;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .nav-tabs .nav-link {
        font-size: 1.25rem;
        padding: 1.25rem 1.5rem;
    }

    .alumni-list li {
        font-size: 1.1rem;
        padding: 12px;
    }
}
